.teachblog.editor .section {
	background: #fafafa;
	border: 1px solid #dadada;
	border-radius: 0.24em;
	margin-bottom: 2em;
	padding: 0.5em 1em 1.6em;
}

.teachblog.editor .section label {
	display: block;
	font-weight: bold;
	padding: 0em 0.23em 0.5em;
}

.teachblog.editor .section.status {
	background: transparent;
	border: 0;
	margin: 0em 0em 0em 2em;
	position: relative;
	top: 4.34em;
}

.teachblog.editor .section.title input {
	width: 70%;
}

.teachblog.editor .section.status > div {
	background: #566864;
	border-radius: 0.4em;
	color: #fff;
	float: right;
	font-weight: bold;
	padding: 0.28em 1.3em;
	text-align: center;
	width: auto;
}

.teachblog.editor .section.status > div.new { background: #60b0c0; }
.teachblog.editor .section.status > div.draft { background: #505050; }
.teachblog.editor .section.status > div.pending { background: #ce8944; }
.teachblog.editor .section.status > div.live { background: #50a050; }
.teachblog.editor .section.status > div.offline { background: #c04040; }

.teachblog.editor .section.content label {
	padding-bottom: 0em;
}

.teachblog.editor .section.controls input {
	margin-left: 1em;
}